/* Author: Fernando Pinto f6rnando@gmail.com */

body {
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Segoe UI", "Arial", "sans-serif";
}

#container {
    .title {
        left      : 50%;
        margin    : auto;
        margin-top: 65px;
        text-align: center;
        width     : 400px;
    }

    .card {
        background: #efefef;
        border     : 1px solid #1a1a1a;
        border-radius: 7px;
        box-shadow: 2px 5px 15px #5d5757;
        display    : block;
        height     : 500px;
        left       : 50%;
        margin     : auto;
        margin-top : 65px;
        text-align : center;
        width      : 500px;

        .card-header {
            background: #d2d2d2;
            border-radius: 8px;
            height : 10%;
            padding: 10px;

            p {
                font-size: 2em;
                font-weight: bold;
                margin: 0;
                position: relative;
                top: 10px;
            }
        }

        .card-body {
            border-top: 1px solid #1a1a1a;
            padding   : 15px;
            
            p {
                font-size: 1.5em;
            }
        }
    }
}