/* Author: Fernando Pinto f6rnando@gmail.com */

ol, ul {
    font-size: 14px;
    text-align: left;
    padding-inline-end: 50px;
    padding-inline-start: 50px;
}

#container {
    .title {
        left      : 50%;
        margin    : auto;
        margin-top: 65px;
        text-align: center;
    }

    .card-custom {
        box-shadow: 2px 5px 15px #5d5757;
        display    : block;
        margin     : auto;
        margin-top : 65px;
        text-align : center;
        width      : 500px;

        .card-custom-header {
            padding: 10px;

            p {
                font-size: 2em;
                font-weight: bold;
                position: relative;
                top: 10px;
            }
        }

        .card-custom-body {
            border-top: 1px solid #1a1a1a;
            padding   : 15px;
            
            p {
                font-size: 1.5em;
            }
        }
    }
}